body {
font-family: 'Roboto', sans-serif;
display: flex;
flex-shrink: 1;
flex-direction: column;
justify-content: space-around;
flex-wrap: wrap;
}

.header {
    display: flex;
    flex-shrink: 1;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #1F2937;
    color: white;
    justify-content: space-between;
    padding: 0 150px 0 150px;
    margin-bottom: auto;
}
.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 900;
    padding: 20px;
    margin-bottom: 80px;
}

.menu {
    display: flex;
    justify-content: end;
    gap: 10px;
    padding: 20px;

}

a {
    color: #E5E7EB;
    text-decoration: none;
    font-size: 18px;
}

.hero {
    width: 280px;
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

.in-hero {
    font-weight: normal;
    font-size: 18px;
}

button {
    background-color: #3882F6;
    color: #f9faf8;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    padding: 5px 15px;
}
.container {
    background-color: white;
    display: flex;
    flex-shrink: 1;
    flex-flow: column wrap;
    justify-content: center;
}

.info {
    font-size: 36px;
    font-weight: 800;
    margin-top: 150px;
    color: #1F2937;
    display: flex;
    flex: 0 1;
    flex-direction: column;
    align-items: center;
}

.cards {
    display: flex;
    justify-content: center;
    padding: 150px;
    gap: 30px;
}

.box {
    width: 225x;
    height: 225px;
    border-color: #3882F6;
    border-style: solid;
    border-radius: 15px;
    border-width: 4px;
}

.quote {
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    font-weight: 500;
    color: #1F2937;
    padding: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.quote h2 {
    margin-left: auto;
}

.banner {
    border-radius: 10px;
    margin: 200px;
    padding: 100px;
    background-color: #3882F6;
    color: #E5E7EB;
    font-weight: bold;
    font-size: 18px;
}



.footer {
    background-color: #1F2937;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
}